$text-color: hsl(0, 0%, 25%);
$theme-text-font: 'Roboto', sans-serif;
$theme-heading-font: 'Montserrat', sans-serif ;
$heading-color: hsl(0, 0%, 0%);

$theme-background-color: white;
$theme-navbar-color: #0e47a1;
$theme-footer-color: #0e47a1;

$theme-background-button: #EEEEEE;
$theme-login-button-font-color: #000000;
$theme-register-button-font-color: #0D47A1;
$theme-main-text-color: #E3F2FD;
$theme-footer-text-color: #FFFFFF;