body {
    nav{
        background-color: $theme-navbar-color;
        border: 1px;
        border-radius: 0 0 16px 16px;

        @include flex(row);
        justify-content: space-between;
        align-items: center;

        height: 80px;
        padding: 10px 50px 10px 50px;

        #left-navbar{
            figure {
                @include square(70px, 86px);
            }
    
            img {
                @include fluid-img();
            }
        }

        #right-navbar{
            .nav-container {
                @include flex(row);
    
                #log-in {
                    gap: 10px;
                    
                    display: flex;
                    justify-content: center;

                    background-color: $theme-background-button;

                    width: 115px;
                    height: 45px;
                    border-radius: 15px;

                    padding: 10px 5px 10px 5px; 

                    figure {
                        @include square(25px);
                    }
            
                    img {
                        width: 25px;
                        height: 25px;
                    }
                    
                    a {
                        color: $theme-login-button-font-color;
                        text-decoration: none;
                        font-weight: 500;
                        padding: 5px;
                    }
                }
    
                #register {
                    gap: 10px;

                    display: flex;
                    justify-content: center;

                    background-color: $theme-background-button;

                    width: 150px;
                    height: 45px;
                    border-radius: 15px;

                    padding: 10px 5px 10px 5px; 

                    figure {
                        @include square(25px);
                    }
            
                    img {
                        width: 25px;
                        height: 25px;
                    }
    
                    a {
                        color: $theme-register-button-font-color;
                        text-decoration: underline;
                        padding: 5px;
                    }
                }
            }
        }
    }

    main{
        padding: 3rem 18px 3rem 18px;
        @include flex(row, true);
        gap: 0;

        figure {
            @include square(925px, 718px);
            img {
                width: 925px;
                height: 718px;
                border-radius: 2rem 0 0 2rem;
            }  
        }

        div {
            @include flex(column, false);
            
            width: 428px;
            height: 718PX;

            background: #0D47A1;
            border-radius: 0px 32px 32px 0px;

            padding: 30px;
            gap: 25px;

            h2 {
                font-weight: 600;
                font-size: 32px;

                display: flex;

                color: $theme-main-text-color;
            }

            p {
                font-weight: 450;
                font-size: 24px;
                color: $theme-main-text-color;
            }
        }
    }

    footer {
        background-color: $theme-footer-color;
        height: 48px;

        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;

        div {
            color: $theme-footer-text-color;
        }
    }
}
