:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: hsl(0deg, 0%, 25%);
}

h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: hsl(0deg, 0%, 0%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body nav {
  background-color: #0e47a1;
  border: 1px;
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 50px 10px 50px;
}
body nav #left-navbar figure {
  width: 70px;
  height: 86px;
}
body nav #left-navbar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body nav #right-navbar .nav-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
body nav #right-navbar .nav-container #log-in {
  gap: 10px;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  width: 115px;
  height: 45px;
  border-radius: 15px;
  padding: 10px 5px 10px 5px;
}
body nav #right-navbar .nav-container #log-in figure {
  width: 25px;
  height: 1rem;
}
body nav #right-navbar .nav-container #log-in img {
  width: 25px;
  height: 25px;
}
body nav #right-navbar .nav-container #log-in a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  padding: 5px;
}
body nav #right-navbar .nav-container #register {
  gap: 10px;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  width: 150px;
  height: 45px;
  border-radius: 15px;
  padding: 10px 5px 10px 5px;
}
body nav #right-navbar .nav-container #register figure {
  width: 25px;
  height: 1rem;
}
body nav #right-navbar .nav-container #register img {
  width: 25px;
  height: 25px;
}
body nav #right-navbar .nav-container #register a {
  color: #0D47A1;
  text-decoration: underline;
  padding: 5px;
}
body main {
  padding: 3rem 18px 3rem 18px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0;
}
body main figure {
  width: 925px;
  height: 718px;
}
body main figure img {
  width: 925px;
  height: 718px;
  border-radius: 2rem 0 0 2rem;
}
body main div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 428px;
  height: 718PX;
  background: #0D47A1;
  border-radius: 0px 32px 32px 0px;
  padding: 30px;
  gap: 25px;
}
body main div h2 {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  color: #E3F2FD;
}
body main div p {
  font-weight: 450;
  font-size: 24px;
  color: #E3F2FD;
}
body footer {
  background-color: #0e47a1;
  height: 48px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
body footer div {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
